@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;500;700;900&display=swap');

body{    
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
display:inline-block;
justify-content: space-between;
align-items: center;
flex:none;
flex-shrink:1;
transition:1s;
overflow-x: hidden;
}

.welcome{
  width:100%;
  align-content: center;
  justify-items: center;
}
nav {
  margin-top:20px;
  position:absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index:4;
}
.welcome .image{
  display: flex;
  flex-direction: row;
  width:cover;
  position:relative;
  opacity:0.5;
}
.welcome .image:hover{
  opacity: 1;
  transition:2s;
}
.welcome h1{
  display:none;
}
.welcome-text{
  width:500px;
  height:50px;
  margin:20%;
  position: absolute;
  flex-direction:column;
  align-items:center;
  justify-content: space-between;
}
.welcome-text a{
  position:absolute;
  align-self:last baseline;
  z-index:5;
}
.welcome-text .main{
  position:absolute;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  column-gap: 0px;
  align-items: center;
  z-index:5;
}
.welcome-text h1{
  margin: none;
  padding:none;
  font-size:11rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  display:flex;
  align-content:center;
  justify-content:center;
}
.welcome-text h4{
  font-size:2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-style: italic;
  color: black;
  writing-mode:vertical-lr;
}

.Box{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content:center;
    padding-inline: 5px;
    margin:5px;
}
.contain{
    width:21rem;
    height:70vh;
    padding:10px;
    margin:30px;
}
  
.content{
    position: absolute;
    width:18rem;
    height:25rem;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color:white;
    border-radius:20px;
    box-shadow:-2px -2px 4px rgb(16,59, 
    66), 2px 2px 4px rgb(16, 59, 66),2px 2px 4px rgb(16, 59, 66);
    overflow:hidden;
      
  }
  .content span{
    color:rgb(0, 0, 0);
    font-size:15px;
    font-weight: bolder;
    justify-content: center;
    font-family: arial;
    z-index:1;
  }
  .content:hover::before{
    content:'';
    position: absolute;
    width:7rem;
    height:40rem;
    left:100px;
    top:-150px;
    background:linear-gradient( rgb(76, 206, 199),rgb(0, 87, 168),rgb(204, 0, 136)) ;
    animation: animate 10s linear infinite;
  }
  @keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%
    {
        transform:rotate(360deg) ;
    }
  }
  .content:hover::after{
    content:'';
    color:white;
    width:17.5rem;
    height:24.5rem;
    position:absolute;
    inset:5px;
    background:rgb(215, 224, 255);
    border-radius:20px;
  }
  .content:hover{
  box-shadow:none;
    transition:1s;
  }
  .slider{
    width:100%;
    height:550px;
    overflow:hidden;
    box-shadow:-2px -2px 4px rgb(16,59, 
    66), 2px 2px 4px rgb(16, 59, 66),2px 2px 4px rgb(16, 59, 66);
    
  }
  .slider:hover{
     cursor:no-drop;
     transition:1s;
  }
  figure{
    position:relative;
    left:0;
    width:400%;
    animation:13s slide infinite;
  }
  .slide{
    position:relative;
    width:25%;
    float:left;

  }
  .slide img{
    width:100%;
    
  }
  @keyframes slide {
    0%,10%{
      left:0;
    }
    20%,30%{
      left:-100%;
    }
    40%,50%,74%{
      left:-200%;
    }
    55%,65%{
      left:-300%;
    }
    66%{
      left:-300%;
    }
    75%,85%{
      left:-200%;
    }
    90%{
      left:-100%;
    }
    100%{
      left:0;
    }      
    
  }
.box{
  width:25rem;
  height:25rem;
  border:3px;
  margin:5px;
  margin:60px;
}
.box-text{
  color:black;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-content: center;
}
.box-text h1{
  margin-top:10%;
  font-style:bolder;
  font-family:"Poppins";
  font-size:4rem;
  text-align: center;
  writing-mode: vertical-lr;
  text-shadow:-5px 10px 10px rgb(0, 0, 0) ;
}
.box-text p{
  justify-content: center;
  align-self: center;
  font-size: 1rem;
  font-style:italic;
  font-weight: bold;
}
.slide h1{
  color: white;
  font-size:6rem;
  text-align: center;
  writing-mode:sideways-lr;
  text-shadow:-5px 10px 10px rgb(0, 0, 0) ;
}
.box:hover,.box:hover{
  background-color: rgb(255, 255, 255); 
  box-shadow:-1px -2px 2px rgb(14, 100, 116), 1px 1px 2px rgb(16,59, 66),1px 2px 2px rgb(16,59,66);
  transition:2s;
 }
.boxs{
  width:40rem;
  height:35rem;
  border:3px;
  margin:5px;
}

.Box1{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  margin-bottom:50px;
}
.Box2{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  margin-top:50px
}
.Boxer{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
}

.Boxer:hover{
  position:relative;
  background-image: url("C:\Users\USER\project8\project\src\assets\back1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment:scroll;
  background-size:cover;
  transition:1s;
}
.wrapped{
  width:50%;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  margin-left:25%;   
}
.all-wrapped:hover{
  background-image:url("C:\Users\USER\project8\project\src\assets\back.jpg");
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  transition:1s;
}
.wrapped-text{
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
}
.wrapped-text h1{
  font-style:bolder;
  font-family: cursive;
  font-size:3rem;
  text-align:center;
  text-shadow:-5px 10px 10px rgb(0, 0, 0) ;
 }
.wrapped-text p{
  justify-content: center;
  align-self: center;
  font-size: 1rem;
  font-style:italic;
  font-weight: bold;
  text-align: justify;
  padding:20px;
  margin-top:10px;
}

.wrapper{
    width:100%;
    height:100vh;
    overflow:hidden;
    box-shadow:-2px -2px 4px rgb(16,59, 
    66), 2px 2px 4px rgb(16, 59, 66),2px 2px 4px rgb(16, 59, 66);
}
.wrapper figure{
  position:relative;
  left:0;
  width:400%;
  animation:13s slide infinite;
}
.item{
  position:relative;
  width:25%;
  float:left;
}
.item img{
  width:100%;
  height:100vh;
}
.contact{
  background-image:url("C:\Users\USER\project8\project\src\assets\back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding:20px;
  width:100%;

}
.contact-box{
  background-color: white;
  padding:20px;
  margin-top:10%;
  margin-left:25%;
  display: flex;
  flex-direction:column;
  justify-content:center;
  width:50%;
  height:100vh;
  box-shadow:-2px -2px 4px rgb(16,59, 
  66), 2px 2px 4px rgb(16, 59, 66),2px 2px 4px rgb(16, 59, 66);

}
.contact-box:hover{
  background-image:url("C:\Users\USER\project8\project\src\assets\back1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition:1s;

}
.form{
  width:30rem;
  margin:20px;
  justify-content: center;
  align-content: center;
   margin-left:10px;
  align-items: center;
}
.social{
  display: flex;
  font-weight: bold;
  flex-direction:row;
  justify-content:space-between;
  width:30rem;
  margin:20px;
}
.social a img{
  background-color: white;
  margin:1px;
  width:50px;
  border-radius:50%;
}

@media only screen and (max-width:600px) {
  body{
    width:300px;
    display: flex;
    padding: 0%;
    flex-direction: column;
    overflow-x: hidden;
  }
  .welcome{
    width:50%;
    padding-left:20px;
    display:flex;
    justify-content: center;
    flex-direction: column;
  }
  .welcome nav{
    position: relative;
    display: flex;
    margin-left:50%;
    flex-direction: column;
    justify-content: center;
    padding:10px;
  }
  .welcome nav a{
    font-size:1rem;
    font-family:"poppins";
    font-weight:700;
    justify-content: center;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    
  }
  .welcome nav a:first-child{
    display: none;
  }
  #nav-a{
    display:none;
  }

  nav h1{
    position: relative;
    color: black;
    display:contents;
    justify-content:center;
    background-color: black;
  }

  .welcome .image{
    display: none;
  }
  .welcome-text{
  position: relative;
  margin-left:200px;
  width:400px;
  height:300px;
  padding:30px;
  flex-direction:column;
  align-items:center;
  background-image: url("C:\Users\USER\project8\project\src\assets\back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  box-shadow:-2px -2px 4px rgb(16,59, 
  66), 2px 2px 4px rgb(16, 59, 66),2px 2px 4px rgb(16, 59, 66);
  }
  .welcome-text .main{
    position:relative;
    margin:15px;
    padding-left:20px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
  }
  
  .welcome-text h1{
    font-family: "Poppins", sans-serif;
      font-weight: 900;
      font-style: normal;
    font-size:3rem;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
  }
.welcome-text h4{
      font-size:2rem;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-style: italic;
      color: rgb(255, 255, 255);
      writing-mode: horizontal-tb;
}
.box{
  width:150px;
  display: flex;
  flex-direction:column ;
  justify-content: center;
  margin-top: 10%;
}
  .wrapped{
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin-left:35%;   
  }
  .slide h1{
    font-size:3rem;
    writing-mode:horizontal-tb;

  }
  .Boxer{
    margin-bottom:30%;
  }
  .boxs{
    width:30rem;
    height:25rem;
    margin-left:25%;
  }
  
  .box-text{
   display:none;
  }
  .form{
    width:20rem;
    
  }
  .Box{
    display: flex;
    flex-direction:column;
    justify-content:center;
    padding-inline: 5px;
    margin-left:35%;
}
.Box .container h2{
  display:none;
}

  .contact-box{
    margin-left:40%;
  }
  .social{
    display: flex;
    font-weight: bold;
    flex-direction:row;
    justify-content:space-around;
    width:20rem;
    margin:20px;
  }
  .social a img{
    background-color: white;
     width:30px;
    border-radius:50%;
  }
  .social a h2{
    display:none;
  }
  }